<!DOCTYPE html>
<html lang="en" ng-app="tweesy" ng-csp>
  <head>
    <meta charset="UTF-8">
    <title>Tweesy</title>
    <link rel="stylesheet" href="css/app/popup.css">
    <link rel="stylesheet" href="css/lib/bootstrap.min.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app/bundle.js"></script>
  </head>
  <body class="popupbody container" ng-controller="PopupController as vm">
    <h1>Tweesy</h1>
    <form name="tweetForm" ng-submit="vm.submitTweet()" ng-if="!vm.completed" novalidate>
      <div class="form-group">
        <textarea class="form-control" name="content" ng-model="vm.content" autofocus=true rows="3"></textarea>
      </div>
      <div class="text-right">
        <span ng-class="{'text-danger': vm.isDisabledTweet()}" ng-bind="vm.content.length"></span>
        <button class="btn btn-info" type="submit" ng-disabled="vm.isDisabledTweet()">ツイート</button>
      </div>
    </form>
    <div class="alert alert-info" role="alert" ng-if="vm.completed">
      ツイートが完了しました。
    </div>
  </body>
</html>
